<div class="content-wrapper">
    <div class="content-block">
        <% @posts.each do |post| %>
            <div class="content">
                <div class="user-about">
                    <div class="image">
                        <%= image_tag "noimage.png" %>
                    </div>
                    <div class="profile">
                        <div class="name-history">
                            <div class="name">
                                うるぞー
                            </div>
                            <div class="learning-history">
                                学習歴：　８年
                            </div>
                        </div>
                        <div class="purpose">
                            転職したい
                        </div>

                    </div>

                </div>
                <div class="text">
                    <p><%= post.content %></p>
                </div>
                <div class="action-menu">
                    <div class="like">

                    </div>
                    <div class="comment">

                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="sidebar">
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>